<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout::styles">
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header th:replace="layout :: top-bar"></header>
    <div th:replace="layout :: side-nav"></div>
    <main class="mdl-layout__content mdl-color--grey-100">
        HELLO MELLO
    </main>
</div>
<div th:replace="layout::scripts"></div>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>